---
import ImageCarousel from './ImageCarousel.astro';
// 1. Agregamos más info al arreglo para mostrar en el modal
const projects = [
  {
    id: 1, // IMPORTANTE: El ID es vital ahora
    title: "Practica Profesional",
    description: "Aplicacion web que permite la valoracion de libros.", // Descripción corta para la card
    longDescription: "Aplicacion web desarrollada para la Biblioteca Julio Cortazar de la Escuela Nacional 'Ernesto Sábato',con el objetivo de fomentar la lectura, la crítica literaria y la participación comunitaria entre alumnos y docentes.",
    PrincipalFunctionalities: "Los usuarios pueden registrarse e iniciar sesión para valorar libros, dejar comentarios y ver recomendaciones. Los administradores pueden gestionar el catálogo de libros, moderar comentarios.",
    images: ["/img1.jpeg"],
    tags: ["Express.js", "PostgreSQL", "JWT", "React", "Supabase", "Material UI"],
    link: "https://github.com/TurcoDev/sababook-back"
  },
  {
    id: 2,
    title: "Winform app",
    description: "Aplicación de escritorio para gestionar inventarios.",
    longDescription: "Aplicación realizada con Winform, Sql server y modelo de capas, permite gestionar articulos",
    images: ["/win01.jpg", "/win02.jpg", "/win03.jpg"],
    tags: [".net 4.8", "sql server", "c#"],
    link: "https://github.com/tu-usuario/proyecto2"
  }
];
---

<section id="proyectos" class="min-h-[80vh] py-10 px-4 bg-base-200">
  <h2 class="text-xl md:text-2xl font-krona text-center mb-10">PROYECTOS</h2>

  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 max-w-7xl mx-auto">
    
    {projects.map((project) => (
      <>
      
      <article class="card bg-base-100 shadow-xl border border-base-200">
        <figure>
          <img src={project.images[0]} alt={project.title} class="aspect-video object-cover" />
        </figure>
        <div class="card-body">
          <h3 class="card-title">{project.title}</h3>
          <p class="text-sm">{project.description}</p>
          
          <div class="card-actions justify-end mt-4">
            <button class="btn btn-primary btn-sm" onclick={`modal_${project.id}.showModal()`}>
              Ver más info
            </button>
          </div>
        </div>
      </article>

      
      
      <dialog id={`modal_${project.id}`} class="modal">
        <div class="modal-box w-11/12 max-w-2xl"> <form method="dialog">
            <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
          </form>
          
          <h3 class="font-bold text-2xl mb-4">{project.title}</h3>
          
          <ImageCarousel id={`carousel_${project.id}`} images={project.images} />
          
          <p class="py-4 text-base">{project.longDescription}</p>
          <p class="py-4 text-base">{project.PrincipalFunctionalities}</p>
          
          <div class="divider">Tecnologías</div>
          
          <div class="flex gap-2 flex-wrap mb-6">
             {project.tags.map(tag => (
               <span class="badge badge-primary badge-outline">{tag}</span>
             ))}
          </div>

          <div class="modal-action">
             <a href={project.link} target="_blank" class="btn btn-primary">
               Ir al Repositorio
             </a>
             <form method="dialog">
               <button class="btn">Cerrar</button>
             </form>
          </div>
        </div>
        
        <form method="dialog" class="modal-backdrop">
          <button>close</button>
        </form>
      </dialog>
      </>
    ))}
  
  </div>
</section>